<h1>Soon to be "Form Page"</h1>
<p>blah blah blah I haven't worked on this page yet.</p>

<%= form_tag repository_index_path do %>
  <%= text_field_tag :user_name %>
  <%= submit_tag "search, if you dare!" %>
<% end %>

<p> Made by Cruz. Don't h8.</p>
